{% load static %}
<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="{% static 'img/logo.png'%}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class=""><a href="/">Home</a></li>
                        <li><a href="/shop-grid.html">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/shop-details.html">Shop Details</a></li>
                                <li><a href="/shoping-cart.html">Shoping Cart</a></li>
                                <li><a href="/checkout.html">Check Out</a></li>
                                <li><a href="/blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">

                <div class="header__menu">

                    <ul>
                        {% if user.id is not None %}
                            <li>
                                <a href="#"><i class="fa fa-user">{{ user.first_name }}</i></a>

                                <ul class= "header__menu__dropdown">
                                    <li ><a href="/user"><i class="fa fa-user"></i>My Account </a> </li>
                                    <li ><a href="/shopcart"><i class="fa fa-user"></i>My Order </a> </li>
                                    <li ><a href="/user/contents"><i class="fa fa-user"></i>My Wishlist </a> </li>
                                    <li ><a href="/user/comments/"><i class="fa fa-user"></i>My Comments </a> </li>

                                    <li ><a href="/logout/"><i class="fa fa-user"></i>logout </a> </li>
                                </ul>
                            </li>
                            <li><a href="/shopcart"><i class="fa fa-shopping-bag">{{ request.session.cart_items }}</i></a></li>
                        {% else %}
                            <li> <a  href="/login/"><i class="fa fa-user">Login</i> </a></li>
                            <li><a  href="/signup/"><i class="fa fa-user">Sign up</i></a></li>
                        {% endif %}
                    </ul>

                </div>

            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>