{% extends "homebase.html" %}

{% block title %}{{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }} {% endblock %}


{% block content %}
{% load static %}
 <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>About</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog spad">
        <div class="container">

            <div class="row">

                <table cellpadding="3" width="1200">
                    <tr>
                        <th>Image</th>
                        <th>Produce Name</th>
                        <th>Category</th>
                    </tr>
                    {% for rs in produces %}
                        <tr>
                            <td><a href="/produce/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}" style="width:300px;height: 180px " alt=""> </a></td>
                            <td><h4 class="note-name"><a href="/produce/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4> </td>
                            <td><a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}">{{ rs.category }}</a></td>

                        </tr>

                    {% endfor %}
                </table>
            </div>

        </div>
    </section>

{% endblock %}