{% extends "homebase.html" %}

{% block title %}{{ produce.title }} {% endblock %}
{% block keywords %} {{ produce.keywords }}{% endblock %}
{% block description %}{{ produce.description }} {% endblock %}


{% block content %}
    {% load static %}
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ produce.title }}</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>{{ produce.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="{{ produce.image.url}}" alt="">
                        </div>

                        <div class="product__details__pic__slider owl-carousel">
                            {% for rs in images %}
                                <img data-imgbigurl="{{rs.image.url}}"
                                     src="{{ rs.image.url }}" alt="">
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ produce.title}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">${{ produce.cost }}</div>
                        <p>{{ produce.description }}</p>
                        <div class="product__details__quantity">
                            <form action="/order/addtocart/{{ produce.id }}">
                                {% csrf_token %}
                                <div >

                                    Adet:
                                    <input  type="number" min="0" max="{{ produce.Quantity }}" value="1">

                                    <button type="submit" class="primary-btn">ADD TO CARD</button>

                                </div>

                            </form>
                        </div>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Weight</b> <span>0.5 kg</span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                   aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{{ produce.detail|safe}}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <div class="row">
                                        <div class="col-md-6" style="margin: auto">

                                            {% for rs in comments %}
                                                <div>
                                                    <div>
                                                        <div><a href="#"><i class="fa fa-user-md"></i>{{ rs.user.first_name }}</a></div>
                                                        <div><a href="#"><i class="fa fa-clock-o"></i>{{ rs.create_at }}</a></div>
                                                        <div >
                                                            <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                                            <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                                            <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                                            <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                                            <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                                        </div>

                                                    </div>
                                                    <div><b>{{ rs.subject }}</b>
                                                        <p>{{ rs.comment }}</p>
                                                    </div>
                                                </div>


                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6" style="margin: auto">
                                            <h4>Write Your Review</h4>
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                                        {{ message }}
                                                    </div>

                                                {% endfor %}
                                            {% endif %}
                                            <form class="form-style-9" action="/Produce/addcomment/{{ produce.id }}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input class="input" type="text" name="subject" id="id_subject" placeholder="Subject">
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="input" name="comment" id="id_comment" placeholder="Your Review"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-rating">
                                                        <strong class="text-uppercase">Your Rating</strong>
                                                        <div class="stars">
                                                            <input type="radio" id="star1" name="rate" value="1"/>1<label for="star1"></label>
                                                            <input type="radio" id="star2" name="rate" value="2"/>2<label for="star2"></label>
                                                            <input type="radio" id="star3" name="rate" value="3"/>3<label for="star3"></label>
                                                            <input type="radio" id="star4" name="rate" value="4"/>4<label for="star4"></label>
                                                            <input type="radio" id="star5" name="rate" value="5"/>5<label for="star5"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if user.id is not None %}
                                                    <button class="btn-info">Send Comment</button>
                                                {% else %}
                                                    Yorum Eklemek için login  olunuz!

                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->



{% endblock %}