{% extends "homebase.html" %}

{% block title %}Profile{{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }} {% endblock %}


{% block content %}
    {% load static %}
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>User Orders</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>User Orders</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="contact" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="map-box">
                            <h3 class="title">User Panel</h3>
                            <hr>

                        </div>
                        {% include "user_panel.html" %}

                    </div>
                </div><!-- end col -->
                <div class="col-md-9">
                    <div class="map-box">
                        <h3 class="title">User Orders</h3>

                    </div>
                    <table class="table">
                        <tr>
                            <th class="text-left">Id</th>
                            <th class="text-left">First Name</th>
                            <th class="text-left">Last Name</th>
                            <th class="text-left">Total</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Date</th>
                            <th class="text-left">Detail</th>
                        </tr>
                        {% for rs in orders %}
                            <tr>
                                <td class="text-left">{{rs.id}}</td>
                                <td class="text-left">{{ rs.first_name }}</td>
                                <td class="text-left">{{ rs.last_name }}</td>
                                <td class="text-left">{{ rs.total }}</td>
                                <td class="text-left">{{ rs.status }}</td>
                                <td class="text-left">{{ rs.create_at }}</td>
                                <td class="text-left"><a class="site-btn" href="/user/orderdetail/{{ rs.id }}">Detay</a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div><!-- end row -->
        </div>
    </div>
{% endblock %}